<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AllProduct</servlet-name>
        <servlet-class>.AllProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>controller.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBUtils</servlet-name>
        <servlet-class>db.DBUtils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbModel</servlet-name>
        <servlet-class>model.DbModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllProduct</servlet-name>
        <url-pattern>/AllProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBUtils</servlet-name>
        <url-pattern>/DBUtils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbModel</servlet-name>
        <url-pattern>/DbModel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
